[GoogleOAuth2]
Key = 801373598724-r3kqhcjdlpao6ubo9afh5n9pvhbaak5l.apps.googleusercontent.com
Secret = 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

[Django]
Secret = django-insecure--yp2-#!0t!md2yd54&k7#z734vbxkw*67ky=@3#8ys(-ind08_