{% extends "alphatracker/base.html" %}

{% block script_front %}
{% load static %}
<script src="{% static 'alphatracker/table_actions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
{{profile.user.first_name}} {{profile.user.last_name }}'s Profile - AlphaTracker
{% endblock %}

{% block content %}
<div class="column-container">
  <div class="center" style="width:15vw; height: 100vh; background-color:darkgray">
    <img style="border-radius: 50%; width: 50%; margin-top: 8em;" src="{{ profile.image }}" alt="Profile Image">
    <div>
      {% if profile.user in request.user.profile.following.all %}
      <form action="{% url 'unfollow' profile.user.id %}" method="post">
        {% csrf_token %}
        <button id="id_unfollow" type="submit" class="btn btn-danger" style="margin-top: 20px; font-size: 24px">Unfollow</button>
      </form>
      {% else %}
      <form action="{% url 'follow' profile.user.id %}" method="post">
        {% csrf_token %}
        <button id="id_follow" type="submit" class="btn btn-primary" style="margin-top: 20px; font-size: 24px">Follow</button>
      </form>
      {% endif %}
    </div>
    <div id="collection" class="profile-item-active" style="margin-top: 80px;">
      <a href="">Collection</a>
    </div>
  </div>

  <div class="container theme-showcase" style="margin-top: 80px;">
    <div class="page-name">
        {{profile.user.first_name}} {{profile.user.last_name }}'s Collection
    </div>
    <div id="navbar" class="navbar-collapse collapse" style="float:left;">
      <div class="navbar-form">
        <div class="form-group">
          <input id="search-input" onkeyup="searchTable()" name="search" type="text" placeholder="Search for names..."
            class="form-control">
        </div>
        <div class="form-group">
          <input id="filter-from" class="filter form-control" type="date" placeholder="From..." style="color:#9b9b9b">
          <input id="filter-to" class="filter form-control" type="date" placeholder="To..." style="color:#9b9b9b">
        </div>
      </div>
    </div>
    <!--table-->
    <div class="row">
      <div class="col-md-6" style="width: 1200px;">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th onclick="sortTable('name')">Name</th>
              <th onclick="sortTable('est')">Establish Time</th>
              <th onclick="sortTable('size')">Size</th>
              <th onclick="sortTable('creator')">Created By</th>
              <th onclick="sortTable('modified')">Modified Time</th>
              <th onclick="sortTable('collected')">Collected Times</th>
              <th>Action</th>
            </tr>
          </thead>
          
            <tbody id="body">
              {% for item in profile.collection.all %}
              <tr>
                <td><a href=http://{{ item.url }}>{{ item.name }}</a></td>
                <td>{{ item.establish_time | date:"m/d/Y" }}</td>
                <td>{{ item.size }}</td>
                {% if item.created_by %}
                <td>{{ item.created_by }}</td>
                {% else %}
                <td>AlphaTracker</td>
                {% endif %}
                <td>{{ item.modified_time | date:"m/d/Y H:i"}}</td>
                <td>{{ item.collected_times }}</td>
                <td>
                  {% if item in request.user.profile.collection.all %}
                  <a href="{% url 'uncollect-action' item.id %}" class="btn btn-danger btn-xs" role="button">Uncollect</a>
                  {% else %}
                  <a href="{% url 'collect-action' item.id %}" class="btn btn-success btn-xs" role="button">Collect</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  window.onload = () => {
    topNavSetActive(3)
  }

  $(".filter").on("change", function () {
    var from = $("#filter-from").val()
    var to = $("#filter-to").val()
    // console.log(from, to)
    if (!from && !to) {
      return
    }
    from = modify_date(from)
    to = modify_date(to)
    var table = document.getElementById("table")
    var rows = table.rows
    let tr = table.getElementsByTagName("tr")
    for (i = 1; i < (rows.length); i++) {
      var x = rows[i].getElementsByTagName("TD")[1]
      date = modify_date(x.innerHTML)
      console.log(from)
      console.log(date)
      var show = true
      if (from && date < from) {
        show = false
      }
      if (to && date > to) {
        show = false
      }
      if (show == true) {
        rows[i].style.display = ""
      }
      else {
        rows[i].style.display = "none"
      }
    }
  })
</script>
{% endblock %}