.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  /* font-size: 22px; */
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

